doctype
html
	head
		meta(charset='utf-8')
		title Сайт
		
		link(rel="stylesheet" type="text/css" href="foundation/css/foundation.css")
		<!-- link(rel="stylesheet" type="text/css" href="foundation/css/foundation.min.css") -->
		link(rel="stylesheet" type="text/css" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css")
		
		link(rel="stylesheet" type="text/css" href="foundation/foundation-icons/foundation-icons.css")
		link(rel="stylesheet" type="text/css" href="css/main.css")
		//- link(rel="stylesheet" type="text/css" href="ClickEffects/css/demo.css")
		link(rel="stylesheet" type="text/css" href="ClickEffects/css/component.css")
		script(src="ClickEffects/js/modernizr.custom.js")

	body		
		include includes/_logo
		include includes/_nav
		div.wrapper
			//- include includes/_header
			//- include includes/_header_2
			include includes/_about_us
			//- include includes/_our_clients
			//- include includes/_maket_1
		script(type='text/javascript', src='js/search.js')
		script(type='text/javascript', src='foundation/js/vendor/jquery.js')
		//- <!-- script(type='text/javascript', src="http://foundation.zurb.com/docs/assets/js/all.js") -->
		script(type='text/javascript', src='foundation/js/vendor/what-input.js')
		script(type='text/javascript', src='foundation/js/vendor/foundation.min.js')
		script(type='text/javascript', src='foundation/js/vendor/foundation.js')
		script(type='text/javascript', src='foundation/js/app.js')
		script(type='text/javascript', src='js/add_foundation.js')
		//- script(type='text/javascript', src='js/margin.js')
		script(type='text/javascript', src='ClickEffects/js/classie.js')
		script(type='text/javascript', src='ClickEffects/js/click_animation.js')
		script(type='text/javascript', src='js/scroll.js')